// Pallet
$clr2: #272727;
$clr1: #4a4a4a;
$clr-1: #9c9c9c;
$clr-2: #ffffff;

$clrPrimary: #fbcd44;
$clrPrimaryDarker: #c19d33;
$clrSecondary: #bdb4ff;

// Fonts
$ralewayBold: Raleway-Bold;

// Breakpoints
$mobile-breakpoint: 420px;
$tablet-breakpoint: 920px;
$desktop-breakpoint: 1300px;


// Layout Paddings

