<section class="players-list-wrapper">
    <section class="list-actions">
        <div *ngFor="let posData of positionsData" (click)="selectPos(posData.pos)" [ngStyle]="{color: (selectedPos === posData.pos) ? '#c19d33' : ''}">{{posData.text}}</div>
        <div class="filter-sort">

        </div>
    </section>

    <div class="players-list">
        <ul>
            <li *ngFor="let player of players; trackBy:id">
                <player-preview (playerSelected)="selectPlayer($event)" [player]="player"></player-preview>
            </li>
        </ul>
    </div>
</section>