<section class="players-list-wrapper">
    
    <section class="list-actions">
        <section class="pos-filter">
            <div *ngFor="let posData of positionsData" (click)="setFilter('pos', posData.pos)" [ngStyle]="{color: (filter.pos === posData.pos) ? '#c19d33' : ''}">{{posData.text}}</div>
        </section>
        <div class="filter-actions">
            <label for="name">
                <input [(ngModel)]="filter.name" (ngModelChange)="setFilter('name')" type="text" id="name">
            </label>
            <button (click)="setFilter('isDescending')">Sort</button>
        </div>
    </section>

    <h2>Credits Left: {{leftCredits}}</h2>

    <div class="players-list">
        <ul>
            <li *ngFor="let player of players; trackBy:id">
                <player-preview (playerSelected)="selectPlayer($event)" [player]="player"></player-preview>
            </li>
        </ul>
    </div>
</section>